---
import { Image, Picture } from "@astrojs/image/components";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import proposalImg from "../images/margaret-logan-proposal.jpg";
---

<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<Image alt="proposal picture" src={proposalImg} />
			<!-- <Picture
				src={proposalImg}
				alt="proposal picture"
				widths={[200, 400, 1600]}
				aspectRatio="3:1"
				fit="cover"
			/> -->
			<div class="content-container">
				<h2>Welcome!</h2>
				<p>We're going to be having a wedding soon and you're invited!</p>
			</div>
		</main>
	</body>
</html>
