---
import Layout from "../layouts/TabPage.astro";

import large from "../images/margaret-logan-proposal-large.jpg?url";
import large2x from "../images/margaret-logan-proposal-large@2x.jpg?url";
import large3x from "../images/margaret-logan-proposal-large@3x.jpg?url";

import medium from "../images/margaret-logan-proposal-medium.jpg?url";
import medium2x from "../images/margaret-logan-proposal-medium@2x.jpg?url";
import medium3x from "../images/margaret-logan-proposal-medium@3x.jpg?url";

import small from "../images/margaret-logan-proposal-small.jpg?url";
import small2x from "../images/margaret-logan-proposal-small@2x.jpg?url";
import small3x from "../images/margaret-logan-proposal-small@3x.jpg?url";
---

<Layout
	title="Margaret & Logan"
	description="Margaret & Logan's wedding website"
>
	<picture>
		<source
			media="(min-width: 800px)"
			srcset={`${large} 800w, ${large2x} 1600w, ${large3x} 2400w`}
			height="1176"
			width="2400"
		/>
		<source
			media="(min-width: 440px)"
			srcset={`${medium} 633w, ${medium2x} 1266w, ${medium3x} 1900w`}
			height="1602"
			width="1900"
		/>
		<source
			srcset={`${small}, ${small2x} 880w, ${small3x} 1320w`}
			height="1893"
			width="1320"
		/>
		<img src={large3x} alt="Margaret and Logan's proposal" />
	</picture>
	<div class="text-container">
		<h3>April 20, 2024</h3>
		<p>in</p>
		<h3>Cartagena, Colombia</h3>
		<hr />
		<p>
			We're so excited to be able to share this day and this trip to such a
			beautiful place with our closest friends and family. We hope to see you
			all there!
		</p>
		<hr />
	</div>
</Layout>
<style>
	.text-container {
		text-align: center;
	}
</style>
