---
import TimelineBlockContent, {
  Props as BlockContentProps,
} from "./TimelineBlockContent.astro";

export type Props = BlockContentProps & {
  side: "left" | "right";
};

const { title, date, location, description, side } = Astro.props;
---

<div class="timeline-entry">
  <div class="left-block">
    {
      side === "left" && (
        <TimelineBlockContent
          title={title}
          date={date}
          location={location}
          description={description}
        />
      )
    }
  </div>
  <div class="right-block">
    {
      side === "right" && (
        <TimelineBlockContent
          title={title}
          date={date}
          location={location}
          description={description}
        />
      )
    }
  </div>
</div>
<style>
  .timeline-entry {
    display: flex;
    width: 100%;
  }

  .left-block {
    border-right: 1px solid var(--dark-red);
    padding-bottom: 2rem;
    padding-right: 1rem;
    position: relative;
    width: 50%;
  }

  .left-block::after {
    background-color: var(--coral);
    border: 2px solid var(--dark-red);
    border-radius: 99px;
    content: "";
    height: 10px;
    position: absolute;
    right: -8px;
    top: 0;
    width: 10px;
  }

  .right-block {
    border-left: 1px solid var(--dark-red);
    padding-bottom: 2rem;
    padding-left: 1rem;
    text-align: end;
    width: 50%;
  }
</style>
