---
export interface Props {
  title: string;
  date: string;
  time?: string;
  location?: {
    name: string;
    address: string;
    href: string;
  };
  description: string;
}

const { title, date, location, description } = Astro.props;
---

<p class="date">{date}</p>
<h3>{title}</h3>
<h4>{location?.name}</h4>
<a href={location?.href} target="_blank" rel="noopener noreferrer">
  {location?.address}
</a>
<p>{description}</p>
<style>
  h4 {
    margin-top: 1rem;
  }

  .date {
    font-weight: 600;
  }
</style>
