---
export interface Props {
  title: string;
  date: string;
  time?: string;
  description: string;
  side: "left" | "right";
}

const { title, date, time, description, side } = Astro.props;
---

<div class="timeline-entry">
  <div class="left-block">
    {side === 'left' && (
      <p class="date">{date}</p>
      <h4>{title}</h4>
      <p>{description}</p>
    )}
  </div>
  <div class="right-block">
    {side === 'right' && (
      <p class="date">{date}</p>
      <h4>{title}</h4>
      <p>{description}</p>
    )}
  </div>
</div>
<style>
  h4 {
    margin-top: 1rem;
  }

  .timeline-entry {
    display: flex;
    width: 100%;
  }

  .left-block {
    border-right: 1px solid var(--dark-red);
    padding-bottom: 1.5rem;
    padding-right: 1rem;
    position: relative;
    width: 50%;
  }

  .left-block::after {
    background-color: var(--coral);
    border: 2px solid var(--dark-red);
    border-radius: 99px;
    content: "";
    height: 10px;
    position: absolute;
    right: -8px;
    top: 0;
    width: 10px;
  }

  .right-block {
    border-left: 1px solid var(--dark-red);
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    width: 50%;
  }

  .date {
    font-weight: 600;
  }
</style>
