---
import { Image } from "@astrojs/image/components";

export interface Props {
  title: string;
  date: string;
  time?: string;
  location?: {
    name: string;
    address: string;
    href: string;
  };
  icon: {
    src: string;
    alt: string;
  }
  description: string;
}

const { title, date, location, icon, description } = Astro.props;
---

<p class="date">{date}</p>
<h3>{title}</h3>
<Image src={icon.src} alt={icon.alt} height={120} width={120} />
{
  location && (
    <>
      <h4>{location?.name}</h4>
      <a href={location?.href} target="_blank" rel="noopener noreferrer">
        {location?.address}
      </a>
    </>
  )
}
<p>{description}</p>
<style>
  h4 {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .date {
    font-weight: 600;
  }
</style>
