---
import TimelineBlockContent, {
  Props as BlockContentProps,
} from "./TimelineBlockContent.astro";

type Props = BlockContentProps & {
  side: "left" | "right";
};

const { title, date, location, icon, description, side } = Astro.props;
---

<div class="timeline-entry">
  <div class="block left">
    {
      side === "left" && (
        <TimelineBlockContent
          title={title}
          date={date}
          location={location}
          icon={icon}
          description={description}
        />
      )
    }
  </div>
  <div class="block right">
    {
      side === "right" && (
        <TimelineBlockContent
          title={title}
          date={date}
          location={location}
          icon={icon}
          description={description}
        />
      )
    }
  </div>
</div>
<style>
  .timeline-entry {
    display: flex;
    width: 100%;
  }

  .block {
    padding-bottom: 10rem;
    width: 50%;
  }

  .left {
    border-right: 1px solid var(--light-green);
    padding-right: 1rem;
    position: relative;
  }

  .left::after {
    background-color: var(--pink);
    border: 2px solid var(--light-green);
    border-radius: 99px;
    content: "";
    height: 10px;
    position: absolute;
    right: -8px;
    top: 0;
    width: 10px;
  }

  .right {
    border-left: 1px solid var(--light-green);
    padding-left: 1rem;
    text-align: end;
  }
</style>
